#app {
  font-family: "Avenir", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
  overflow: hidden;
  position: relative;
}

.page-content {
  padding-left: 219px;
  transition: all 0.3s ease-in-out;
  @media (max-width: 768px) {
    padding-left: 100px;
  }
  &.page-content-fluid {
    padding-left: 100px;
  }
}
